#header.custom > .container {
    background-image: url("../images/header/header_bg.jpg");
    background-size: auto 400px;
    height: 400px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: inherit;
}

#header.custom.test > .container {
    background-image: url("../images/header/header_bg_test.jpg");
}

#header.custom {
    background-image: url("../images/header/bg-re.jpg");
    background-size: auto 400px;
}

#header.custom .nav-menu-custom {
    position: relative;
    height: 250px;
    right: 0;
    width: 810px;
}

#header.custom .nav-menu-custom>ul#menu-new-menu > li.menu-item {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

#header.custom .nav-menu-custom> ul#menu-new-menu > li.menu-item a{
    color: #2c7baf;
    font-size: 19px;
    line-height: 75px;
    height: 100%;
    padding: 0 24px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-color: inherit;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li a:hover{
    color: #FFF;
}
#header.custom .nav-menu-custom>ul#menu-new-menu > li:nth-child(1){
    width: 114px;
    height: 79px;
    top: 90px;
    left: 0;
}
#header.custom .nav-menu-custom>ul#menu-new-menu > li:nth-child(1) a {
    background-image: url("../images/header/menu1.png");
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(1) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(1) a:hover {
    background-image: url("../images/header/menu1-active.png");
}


#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(2){
    width: 105px;
    height: 72px;
    top: 150px;
    left: 110px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(2) a {
    background-image: url("../images/header/menu2.png");
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(2) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(2) a:hover {
    background-image: url("../images/header/menu2-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(3){
    width: 108px;
    height: 72px;
    left: 190px;
    top: 80px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(3) a {
    background-image: url("../images/header/menu3.png");
    line-height: 94px;
    font-size: 17px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(3) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(3) a:hover {
    background-image: url("../images/header/menu3-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(4){
    width: 128px;
    height: 87px;
    left: 289px;
    top: 138px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(4) a {
    background-image: url("../images/header/menu4.png");
    line-height: 100px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(4) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(4) a:hover {
    background-image: url("../images/header/menu4-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(5){
    width: 98px;
    height: 65px;
    left: 370px;
    top: 60px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(5) a {
    background-image: url("../images/header/menu5.png");

}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(5) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(5) a:hover {
    background-image: url("../images/header/menu5-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(6){
    width: 115px;
    height: 77px;
    left: 460px;
    top: 130px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(6) a {
    line-height: 95px;
    background-image: url("../images/header/menu6.png");

}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(6) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(6) a:hover {
    background-image: url("../images/header/menu6-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(7){
    width: 103px;
    height: 69px;
    left: 560px;
    top: 70px;
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(7) a {
    line-height: 93px;
    background-image: url("../images/header/menu7.png");

}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(7) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(7) a:hover {
    background-image: url("../images/header/menu7-active.png");
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(8){
    width: 108px;
    height: 74px;
    left: 630px;
    top: 140px;
}

#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(8) a {
    line-height: 88px;
    background-image: url("../images/header/menu8.png");
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li.current-menu-item:nth-child(8) a,
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(8) a:hover {
    background-image: url("../images/header/menu8-active.png");
}
#header.custom  .nav-menu-custom>ul#menu-new-menu > li:nth-child(8){
    display: none;
}

